<div class="card">
  <div class="card-header">
   <h2>Swap Request Information</h2>
    <a style=" float: right" class="btn btn-outline-primary mb-2 mr-2"  >Add New</a>  <br><br>
  </div>

  <div class="card-body">

    <table id="example" datatable class="table table-striped table-bordered" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
      <thead>
      <tr>
        <th>Full Name By</th>
        <th>Swap By Date</th>
        <th>Swap By Shift</th>
        <th>Full Name For</th>
        <th>Swap For Date</th>
        <th>Swap For Shift</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>
