<div class="card" >
  <div class="card-header" style="text-align: center;">

    <h2>Basic Information </h2>
    <a style="text-align: right" href="{{previousURL}}">{{previousURL}}</a>

  </div>

  <div class="card-body">
    <div *ngFor="let p of error" class="alert alert-secondary" role="alert">
      {{p}}
    </div>
    <div class="row">

      <div class="form-group col-md-4">
        <label >Last Name <span style="color: red">*</span></label>
        <input type="text" class="form-control" placeholder="Last name" [(ngModel)]="employeeBasicForm.lastName" required>
      </div>

      <div class="form-group col-md-4">
        <label >First Name <span style="color: red">*</span></label>
        <input type="text" class="form-control" placeholder="First name" [(ngModel)]="employeeBasicForm.firstName" required>
      </div>

      <!--<div class="col-md-12"><hr></div>-->
      <div class=" form-group col-md-4">
        <label >Middle Name</label>
        <input type="text" class="form-control" placeholder="Middle name" [(ngModel)]="employeeBasicForm.middleName" required>
      </div>
      <br>


      <div class="form-group col-md-2">
        <label>Street Address </label>
        <input type="text" class="form-control" name="streetAddress" placeholder="Street Address" [(ngModel)]="employeeBasicForm.streetAddress" >
      </div>

      <div class="form-group col-md-2">
        <label>Apartment / Unit# <span style="color: red">*</span> </label>
        <input type="text" class="form-control" name="apartmentUnit"  placeholder="Apartment Unit" [(ngModel)]="employeeBasicForm.apartmentUnit" >
      </div>

      <div class="form-group col-md-2">
        <label>City <span style="color: red">*</span></label>
        <input type="text" class="form-control" name="city" placeholder="City" [(ngModel)]="employeeBasicForm.city" >
      </div>

      <div class="form-group col-md-2">
        <label>State <span style="color: red">*</span></label>
        <input type="text" class="form-control" name="state" placeholder="State" [(ngModel)]="employeeBasicForm.state" >
      </div>

      <div class="form-group col-md-2">
        <label>Zip Code <span style="color: red">*</span></label>
        <input type="text" class="form-control" name="zipCode" placeholder="Zip Code" [(ngModel)]="employeeBasicForm.zipCode" >
      </div>


      <div class="form-group col-md-2">
        <label>Home Phone <span style="color: red">*</span></label>
        <input type="text" class="form-control" name="homePhone" placeholder="Home Phone" [(ngModel)]="employeeBasicForm.homePhone" required>
      </div>

      <div class="form-group col-md-2">
        <label>Alternative Phone <span style="color: red">*</span></label>
        <input type="text" class="form-control" name="contactNo" placeholder="Alternative phone" [(ngModel)]="employeeBasicForm.alterContactNo" required>
      </div>


      <div class="form-group col-md-4">
        <label>Email <span style="color: red">*</span></label>
        <input type="email" class="form-control" name="email" placeholder="email" [(ngModel)]="employeeBasicForm.email" required>
      </div>


      <div class="form-group col-md-2">
        <label>National ID</label>
        <input type="text" class="form-control" name="nationalId" placeholder="National Id" [(ngModel)]="employeeBasicForm.nationalId" required>
      </div>


      <div class="form-group col-md-2">
        <label>Date of Birth <span style="color: red">*</span></label>
        <input type="date" class="form-control" name="birthdate" [(ngModel)]="employeeBasicForm.birthdate" required>
      </div>


      <div class="form-group col-md-2">
        <label>Gender <span style="color: red">*</span></label>
        &nbsp;&nbsp;<p style="margin-left: 20px">
        <input  type="radio" class="form-check-input" value="M" name="gender" [(ngModel)]="employeeBasicForm.gender">Male

        <br/>
        <input type="radio" class="form-check-input" value="F" name="gender" [(ngModel)]="employeeBasicForm.gender">Female
        <br/>

        <input type="radio" class="form-check-input" value="O" name="gender" [(ngModel)]="employeeBasicForm.gender">Other
      </p>
      </div>

      <div class="form-group col-md-2">
        <label>Marital Status <span style="color: red">*</span></label>
        <select name="maritalStatus" class="form-control" [(ngModel)]="employeeBasicForm.maritalStatus">
          <option value="married">Married</option>
          <option value="unmarried">Unmarried</option>
        </select>
      </div>

      <div class="form-group col-md-4">
        <label>Image</label>
        <input type="file" class="form-control" name="photo" id="photo" accept="image/*" (change)="onFileSelected($event)" placeholder="image">
      </div>

      <div class="form-group col-md-4">
        <label>CV - PDF</label>
        <input type="file" class="form-control" name="cv" id="cv" accept="application/pdf"(change)="onCVFileSelected($event)" placeholder="cv">
      </div>

      <div *ngIf="employeeBasicForm.photo" class="form-group col-md-8">
        <label>Uploaded Image</label>&nbsp; <button type="button" (click)="imageDelete()" class="btn btn-danger">Delete</button>
        <p>
        <img   [src]="employeeBasicForm.photoLink" height="200" width="200">
        </p>
      </div>

      <div *ngIf="employeeBasicForm.cv"class="form-group col-md-4">
          <label>Uploaded Cv</label>
          <p><a href="{{employeeBasicForm.cvLink}}" target="_blank">{{employeeBasicForm.cv}}</a>&nbsp; <button type="button" (click)="cvDelete()" class="btn btn-danger">Delete</button></p>

      </div>

      <div class="form-group col-md-12" align="right" style="margin-top: 20px" >
        <button  class="btn btn-lg btn-success " (click)="onSubmit()">Save Data</button>
      </div>

    </div>
  </div>

</div>
<div class="col-md-12">
  <hr>
</div>

