
<div class="container-fluid">
  <div class="card">
    <div class="card-header"><h2>Change Password</h2></div>

    <div class="card-body">
      <div class="row">

        <div class="form-group col-md-4">


          <label>Employee</label>

          <ng-multiselect-dropdown
            [placeholder]="'Select Employee'"
            [data]="employee"
            [(ngModel)]="selectedItems"
            [settings]="dropdownSettings"

          >
          </ng-multiselect-dropdown>


        </div>

        <div class="form-group col-md-4">

          <label>New Password</label>
          <input class="form-control" id="new_passwordEmp" name="new_password" type="password" placeholder="New Password">
        </div>
        <div class="form-group col-md-4">

          <label>Confirm New Password</label>
          <input class="form-control" id="confirm_new_passwordEmp" name="confirm_new_password" type="password" placeholder="Confirm New Password">
        </div>

        <div class="form-group col-md-12">

          <button class="btn btn-success pull-left" (click)="submitPasswordChange()">Submit</button>

        </div>





      </div>




    </div>
  </div>


</div>

